html,body {
	font-family: Verdana;
    color: #393D76;
    background-color: #F6E3AE;
}

#vizTitle {
    display: inline;
}

#fb {
    margin-left: 20px;
}

div#chart, div#jerseys{
	display: inline-block;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 15px;
}

#lines {
	stroke-width: 1;
	stroke: #eeeeee;
}

#backgroundRect {
	fill: #DAC99A;
}

.nav .fill {
    fill: #DAC99A;
    stroke-width: 0px;
}

.nav .line {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}