html,body {
	font-family: Verdana;
    color: #393D76;
    background-color: #F6E3AE;
}

#intro {
    margin-left: 10px;
}

#vizTitle {
    display: inline;
}

div#faq {
    background-color: #f7e8be;
    margin-right: 25px;
    margin-left: 25px;
}

.faqTitle {
    padding-top: 15px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.faqText, .thanksText {
    margin-left: 10px;
    margin-right: 10px;
}

ol.faqText {
    margin-left: 50px;
}

p.question {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
}

p.answer {
    padding: 0;
    margin-top: 0;
}

span.answer {
    font-weight: bold;
}

.faqLast {
    padding-bottom: 20px;
}

.thanksLast {
    padding-bottom: 40px;
}

div#chart, div#jerseys{
	display: inline-block;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 15px;
}

#lines {
	stroke-width: 1;
	stroke: #eeeeee;
}

#backgroundRect {
	fill: #DAC99A;
}

.nav .fill {
    fill: #DAC99A;
    stroke-width: 0px;
}

.nav .line {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}