<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Saviors</title>
        <link type="text/css" rel="stylesheet" href="saviors.css" />
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
		
		<div id="graph"></div>

        <script type="text/javascript">
		
			w= 625;
            h= 600;
			var colors= {"ATL":"#D21033", "BOS":"#05854C", "BRK":"#000000", "CHA":"#25799A",
			"CHI":"#D4001F", "CLE":"#9F1425", "DAL":"#006AB5", "DEN":"#4393D1", "DET":"#006BB6",
			"GSW":"#FFC33C", "HOU":"#CC0000", "IND":"#FFC225", "LAC":"#EE2944", "LAL":"#4A2583",
			"MEM":"#85A2C6", "MIA":"#B62630", "MIL":"#00330A", "MIN":"#12397F", "NOP":"#091D4A",
			"NYK":"#2E66B2", "OKC":"#0075C1", "ORL":"#077ABD", "PHI":"#C7974D", "PHO":"#FF7A31",
			"POR":"#E1393E", "SAC":"#743389", "SAS":"#BEC8C9", "TOR":"#CD1041", "UTA":"#448CCE", "WAS":"#004874"}


            d3.json("../data/saviors.json", function(teams) {
				
				//Graph variables
				x0= 0;
				xAxisLoc= 0;
				xN= 6;
				y0= 0;
				yAxisLoc= 0;
				yN= 15;
				padding= 50;
				t= 5;
				graphTitleHeight= 25;
				leftAxisTitle= 50;
				bottomAxisTitle= 100;
					
				
				//Create SVG element
				graph= d3.select("#graph")
						.append("svg")
						.attr("width",w)
						.attr("height",h)                  

				//Defining the scales and axes
				var xScale = d3.scale.linear()
								.domain([x0, xN])
								.range([leftAxisTitle, w-leftAxisTitle]);		  
				var yScale = d3.scale.linear()
								.domain([y0, yN])
								.range([h-bottomAxisTitle, graphTitleHeight]);
	  
				var xAxis = d3.svg.axis()
								.scale(xScale)
								.ticks(t)
								.orient("bottom")
								.tickFormat(d3.format("d"));
				var yAxis = d3.svg.axis()
								.scale(yScale)
								.ticks(t)
								.orient("left")
								.tickFormat(d3.format("d"));
	  
				//Drawing rect on graph for backgroud color
				graph.append("rect")
					  .attr("id","backgroundRect")
					  .attr("x", xScale(x0))
					  .attr("y", yScale(yN))
					  .attr("width",(w-leftAxisTitle)-(leftAxisTitle))
					  .attr("height",(h-graphTitleHeight)-(bottomAxisTitle))
	  
	  
				//Drawing the axes
				graph.append("g")
						.attr("class", "axis")
						.attr("id","xAxis")
						.attr("transform", "translate("+0+"," + yScale(xAxisLoc) + ")")
						.call(xAxis);
				graph.append("g")
						.attr("class", "axis")
						.attr("id","yAxis")
						.attr("transform", "translate("+ xScale(yAxisLoc) +"," + 0 + ")")
						.call(yAxis);	
				
										
				barWidth= 20
				bars= graph.selectAll("rect")
								.data(teams)
								.enter()
								.append("rect")
								.attr("r",4)
								.attr("x",function(d,i){
		                                return xScale(i)-barWidth/2;
		                            })
		                        .attr("y",function(d){
		                                return yScale(d["saviors"].length);
		                            })
		                        .attr("width",barWidth)
		                        .attr("height",function(d){
		                                return yScale(0)-yScale(d["saviors"].length);
		                            })
		                        .attr("fill",function() {
										return "green";
									})
				
            });
        </script>
    </body>
</html>